/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
  #bs-example-navbar-collapse-1 {
    padding-left: 0px !important;
  }

  .top-menu {
   .navbar-link {
    padding-left: 0px !important;
      padding-right: 30px !important;
    }
    
    .navbar-brand {
      padding-left: 0px !important;
    }
  }

  .img-group {
    margin-bottom: 30px;
  }

  .main-menu .container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    justify-content: center;
    align-items: center;

    &--right {
      padding-right: 0;
    }
  }

  .login {
    width: 60%;
  }

  .checkout {
    width: 80%;
  }

  .block-center {
    display: flex;
    align-items: center;
  }

  .list-group > li {
    padding: 0 !important;
  }
  
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Medium Devices, Desktops */
@media (min-width : 992px) {
  #bs-example-navbar-collapse-1 {
    padding-left: 0px !important;
  }

  .top-menu {
    .navbar-link {
      padding-left: 0px !important;
      padding-right: 30px !important;
    }
    
    .navbar-brand {
      padding-left: 0px !important;
    }
  }

  .img-group {
    margin-bottom: 30px;
  }

  .main-menu .container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -50px;
  }

  .login {
    width: 60%;
  }

  .checkout {
    width: 90%;
  }

  .logo--right {
    padding-right: 0;
  }

  .block-center {
    display: flex;
    align-items: center;
  } 

  .list-group > li {
    padding: 0 !important;
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
  .logo {
    text-align: -webkit-center;
    margin-bottom: 25px;

    &--bottom {
      margin-bottom: 1.2em;
    }
  }

  .img-group {
    margin-bottom: 30px;
  }

  .register, .cart {
    margin: 10px 0px;
  }

  .list-group-item-heading {
    text-align: center;
  }

  figure {
    margin-bottom: 2.4em !important;
  }

  .center {
    text-align: center;
  }

  .list-group > li {
    padding: 0 !important;
  }

  .footer {
    margin-bottom: 10px;
  }
}

/* Devices Potrait */
@media (max-width : 767px) {
  .logo {
    text-align: -webkit-center;
    margin-bottom: 25px;
    
    &--bottom {
      margin-bottom: 1.2em;
    }
  }

  .img-group {
    margin-bottom: 30px;
  }

  .register, .cart {
    margin: 10px 0px;
  }

  .text { 
    top: 30%;
  }

  .list-group-item-heading {
    text-align: center;
  }

  figure {
    margin-bottom: 2.4em !important;
  }

  .center {
    text-align: center;
  }

  .join {
    margin-top: 15px;
  }

  .solo, .bogor {
    width: 100%;
  }

  .contact {
    margin-top: 8px;
  }

  .footer {
    margin-bottom: 10px;
  }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
  .logo {
    text-align: -webkit-center;
    margin-bottom: 20px;

    &--bottom {
      margin-bottom: 1.2em;
    }
  }

  .img-group {
    margin-bottom: 15px;
  }

  .register, .cart {
    margin: 10px 0px;
  }

  .text { 
    top: 30%;
  }

  .list-group-item-heading {
    text-align: center;
  }

  figure {
    margin-bottom: 2.4em !important;
  }

  .center {
    text-align: center;
  }

  .join {
    margin-top: 15px;
  }

  .solo, .bogor {
    width: 100%;
  }

  .contact {
    margin-top: 8px;
  }

  .footer {
    margin-bottom: 10px;
  }
}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {
  .logo {
    text-align: -webkit-center;

    &--bottom {
      margin-bottom: 1.2em;
    }
  }

  .img-group {
    margin-bottom: 15px;
  }

  .register, .cart {
    margin: 10px 0px;
  }

  .text { 
    top: 30%;
  }

  .list-group-item-heading {
    text-align: center;
  }

  figure {
    margin-bottom: 2.4em !important;
  }

  .center {
    text-align: center;
  }

  .join {
    margin-top: 15px;
  }

  .solo, .bogor {
    width: 100%;
  }

  .contact {
    margin-top: 8px;
  }

  .footer {
    margin-bottom: 10px;
  }
}